*{
    margin: 0;
    padding: 0;

}
body{
    background-color: gray;
}
.mid
{
    width: 800px;
    height: 400px;
    margin: auto;
    background-color: blanchedalmond;
    text-align: center;
    padding-top: 100px;
}
input{
    width: 200px;
    height: 50px;
    margin-left: -182px;
}
button{
    width: 200px;
    height: 50px;
    background-color: blueviolet;
    color: white;
}
h1{
    background-color: black;
    color: white;
    margin-top: 50px;
}
p{
    width: 189px;
    height: 30px;
    background-color: blueviolet;
    color: white;
    float: left;
}
.welcome{
    width: 100%;
    background-color: gray;
    margin-bottom: 30px;
    font-size: 22px;
}